{% extends 'layout.html' %}

{% block content %}

<div style="margin-bottom:10px;" class="clearfix">
    <a class="btn btn-primary" href="/admin/add/">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增管理员
    </a>
    <div style="float: right">
        <form method="get" action="">
            <div class="input-group">            
                <input type="text" name="q" class="form-control" 
                        placeholder="搜索...(管理员)" value="{{ search_data }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>            
            </div>
        </form>
    </div>
</div>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 管理员列表
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>帐号</th>
                    <th>密码</th>
                    <th>重置密码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.password}}</td>
                    <td>
                        <a href="/admin/{{ obj.id }}/reset">重置密码</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/admin/{{ obj.id }}/edit/">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 编辑
                        </a>
                        <a class="btn btn-danger btn-xs" href="/admin/{{ obj.id }}/delete/">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> 删除
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearfix">
        <nav aria-label="Page navigation">
            <ul class="pagination" style="float:left;">
                {{ page_string }}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
