<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 插值符改为了es6插值形式了 -->
        计数:{[num]}
        <p><button @click="add">ADD</button></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script>    
      let app = new Vue({
        el: '#app',
        data:{
            num:1
        },
        methods:{
            add(){    
                this.num++;
            }
        },
        delimiters:['{[',']}']
      })
    </script>


  </body>
</html>