{% extends 'layout.html' %}

{% block content %}
    <!-- 读取messages -->
    <ul>
        {% for obj in messages %}
            <li>{{ obj.message }}</li>
        {% endfor %}
    </ul>
    <div class="container">
        <div style="margin-bottom: 10px;">
            <input id="btnAdd"  type="button" value="新增工单" class="btn btn-primary">
            <input type="button" value="新增订单" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 工单列表
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>工单号</th>
                        <th>部门</th>
                        <th>客户</th>
                        <th>产品</th>
                        <th>数量</th>
                        <th>状态</th>
                        <th>单据日期</th>
                        <th>计划开工日期</th>
                        <th>计划完工日期</th>
                        <th>操作员</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in queryset %}
                    <tr cid="{{ obj.id }}">
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.number }}</td>
                        <td>{{ obj.department}}</td>
                        <td>{{ obj.partner}}</td>
                        <td>{{ obj.material}}</td>
                        <td>{{ obj.quantity}}</td>
                        <td>{{ obj.get_status_display}}</td>
                        <td>{{ obj.create_date}}</td>
                        <td>{{ obj.planned_start_date}}</td>
                        <td>{{ obj.planned_completion_date}}</td>
                        <td>{{ obj.admin}}</td>
                        <td>
                            <!-- <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 编辑 -->
                            <input cid="{{ obj.id }}" class="btn btn-edit btn-primary btn-xs" type="button" value="编辑">
                            <!-- <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> -->
                            <input cid="{{ obj.id }}" class="btn btn-delete btn-danger btn-xs" type="button" value="删除">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <nav aria-label="Page navigation">
                <ul class="pagination" style="float:left;">
                    {{ page_string }}
                </ul>
            </nav>
        </div>

    </div>
    <!-- 新增/编辑工单 模态框 Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">新增工单</h4>
            </div>
            <div class="modal-body">
            
                <form id="formAdd">
                    <div class="clearfix">
                        {% for field in form %}
                            <div class="col-xs-6">
                                <div class="form-group" style="position: relative; margin-bottom: 20px;">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    <span class="error-msg" style="color: red; position: absolute;"></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </form>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="btnSave" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>

    </div>

    <!-- 删除工单 模态框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4>是否删除？</h4>
                <p style="margin: 10px 0;"> 如果确认删除，该记录及其关联数据都会被删除。</p>
                <p style="text-align: right;">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </p>
            </div>
       </div> 
    </div>

{% endblock %}

{% block js %}
  <script type="text/javascript">
    //声明全局变量
    var DELETE_ID;      //删除当前行ID
    var EDIT_ID;        //编辑当前行ID

    $(function () {
        bindBtnAddEvent();
        bindBtnSaveEvent();
        bindBtnDeleteEvent();
        bindBtnConfirmDeleteEvent();
        bindBtnEditEvent();
    })

    function bindBtnAddEvent() {
        $("#btnAdd").click(function () {
            EDIT_ID = undefined;                    //重置：编辑当前行ID
            $("#myModalLabel").text("新增工单");    //修改：模态框标题
            $("#formAdd")[0].reset();              //清空：模态框数据
            $("#myModal").modal("show");
        })
    }

    function bindBtnSaveEvent() {
        $("#btnSave").click(function () {
            $(".error-msg").empty();    //清除错误信息
            if (EDIT_ID) {              //编辑保存
                doEdit();
            }else {                     //新增保存
                doAdd();
            }
            
        })
    }
  
    function doAdd() {
        $.ajax({
            url: "/work/add/",
            type: "post",
            data: $("#formAdd").serialize(),
            dataType: "JSON",
            success: function (res) {
                if(res.status){
                    //alert("新增用户成功");
                    $("#formAdd")[0].reset();
                    $("#myModal").modal("hide");
                    location.reload();
                }else{
                    $.each(res.error, function (name,errorList) {
                        $("#id_" + name).next().text(errorList[0]);
                    })
                }
            }
        })
    }

    function doEdit() {
        $.ajax({
            url: "/work/edit/save/" + "?cid=" + EDIT_ID,
            type: "post",
            data: $("#formAdd").serialize(),
            dataType: "JSON",
            success: function (res) {
                if(res.status){
                    //alert("新增用户成功");
                    $("#formAdd")[0].reset();
                    $("#myModal").modal("hide");
                    location.reload();
                }else{
                    if (res.tips) {
                        alert(ers.tips);
                    }else {
                        $.each(res.error, function (name,errorList) {
                            $("#id_" + name).next().text(errorList[0]);
                        })
                    }
                }
            }
        })       
    }

    function bindBtnDeleteEvent() {
        $(".btn-delete").click(function () {
            $("#deleteModal").modal("show");
            //获取当前ID
            DELETE_ID = $(this).attr("cid");
        })
    }

    function bindBtnConfirmDeleteEvent() {
        $("#btnConfirmDelete").click(function () {
            $.ajax({
                url: "/work/delete/",
                type: "GET",
                data: {
                    cid: DELETE_ID
                },
                dateType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //alert("删除成功")
                        // $("#deleteModal").modal('hide');                //隐藏模态窗
                        // $("#tr[cid='" + DELETE_ID + "']").remove();     //删除当前行
                        DELETE_ID = 0;                                  //重置全局变量
                        location.reload();
                    }else{
                        alert(res.error);
                    }
                }
            })
        })
    }

    function bindBtnEditEvent() {
        $(".btn-edit").click(function () {
            $("#formAdd")[0].reset();       //清空模态框   
            var cid = $(this).attr("cid");  //获取当前ID
            EDIT_ID = cid;                  //
            //传入当前数据
            $.ajax({
                url: "/work/edit/",
                type: "GET",
                data: {
                    cid: cid
                },
                typeType: "JSON",
                success: function (res) {
                    if (res.status){
                        $("#myModalLabel").text("编辑工单");    //修改模态框 标题
                        //填充数据
                        $.each(res.data,function (name,value) {
                            $("#id_" + name).val(value);
                        })
                        $("#myModal").modal('show');            //显示模态框
                    }else {
                        alert(res.error);
                    }
                }
            })
        })
    }
    
  </script>
{% endblock %}